:root {
    --clr-aqua: aqua;
    --clr-black: green;
    --clr-yellow: yellow;
    --clr-green: rgb(0, 255, 0);
}

* {
    padding: 0;
    margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0c1022;
    color: var(--clr-aqua);
    text-shadow: 0 0 3px var(--clr-black);
    scrollbar-width: none;
}

main {
    max-width: 1400px;
    margin: 60px auto 20px;
    padding: 0 10% 0;
}


/*Global*/
h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
    margin: 30px 0;
}

p {
    line-height: 1.4em;
}

h1,
h2,
h3,
p,
a,
img {
    z-index: 3;
}

.circle {
    border-radius: 50%;
    position: absolute;
    transition: .5s;
}

.circle:hover {
    transform: scale(1.1);
}

.circle-small {
    width: 80px;
    height: 80px;
    z-index: 2;
}

.circle-medium {
    width: 120px;
    height: 120px;
    z-index: 2;
}

.circle-big {
    width: 200px;
    height: 200px;
    z-index: 1;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

a {
    padding: 10px 25px;
    margin: 30px 0 0;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: none;
    transition: 0.3s;
}

img {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: auto;
    border-radius: 40px;
}

hr {
    border: none;
    margin: 60px 0;
}

.hr-aqua {
    border-bottom: 2px solid var(--clr-aqua);
    border-color: var(--clr-aqua);
    box-shadow: 0 0 5px var(--clr-aqua);
}

.hr-yellow {
    border-bottom: 2px solid var(--clr-yellow);
    border-color: var(--clr-yellow);
    box-shadow: 0 0 5px var(--clr-yellow);
}

.hr-green {
    border-bottom: 2px solid var(--clr-green);
    border-color: var(--clr-green);
    box-shadow: 0 0 5px var(--clr-green);
}

.green {
    color: var(--clr-green);
    text-shadow: 0 0 3px var(--clr-green);
}


/*Structure*/
/*first-section*/
#first-section .circle {
    box-shadow: -5px 0 15px var(--clr-aqua), 5px 0 10px rgba(0, 255, 255, 0.2);
    background-image: linear-gradient(270deg, var(--clr-aqua), var(--clr-black));
}

#first-section .container,
#second-section .container {
    width: 50%;
    text-align: justify;
}

h1 span {
    display: block;
    margin: 20px 0 0;
    color: var(--clr-green);
    text-shadow: 0 0 10px var(--clr-green);
}

#first-section a {
    background-color: var(--clr-black);
    border: 2px solid var(--clr-aqua);
    color: var(--clr-aqua);
    box-shadow: 0 0 5px var(--clr-aqua);
}

#first-section a:hover {
    background-color: var(--clr-aqua);
    border: 2px solid var(--clr-aqua);
    color: var(--clr-black);
    box-shadow: none;
}

#first-section .circle-small {
    right: 53%;
    top: 2%;
}

#first-section .circle-big {
    right: 40%;
    top: 0;
}

#first-section img {
    background-image: url(images/Group\ 8449.png);
    box-shadow: 0 0 30px 5px var(--clr-aqua);
    align-self: flex-end;
}

#first-section .circle-medium {
    bottom: 0;
    left: 30%;
}

/*Second-section*/
#second-section {
    color: var(--clr-yellow)
}

#second-section .circle {
    box-shadow: 5px 0 15px var(--clr-yellow), -5px 0 10px rgba(255, 255, 0, 0.2);
    background-image: linear-gradient(90deg, var(--clr-yellow), var(--clr-black));
}

#second-section img {
    background-image: url(images/Group\ 8445.png);
    box-shadow: 0 0 30px 5px var(--clr-yellow);
    padding-top: 20px;
}

#second-section .circle-small {
    top: 0;
    left: 45%;
}

#second-section .circle-big {
    top: 2%;
    right: 2%;
}

#second-section a {
    background-color: var(--clr-black);
    border: 2px solid var(--clr-yellow);
    color: var(--clr-yellow);
    box-shadow: 0 0 5px var(--clr-yellow);
}

#second-section a:hover {
    background-color: var(--clr-yellow);
    border: 2px solid var(--clr-yellow);
    color: var(--clr-black);
    box-shadow: none;
}

#second-section .circle-medium {
    bottom: 0;
    right: 20%;
}

/* Third section */
#third-section h1 {
    color: var(--clr-green);
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 0 0 10px var(--clr-green);
}

#third-section .flex-row {
    align-items: stretch;
    text-align: center;
    gap: 5%;
}

#third-section .container {
    width: 45%;
    align-items: center;
    justify-content: flex-start;
    border: 3px solid var(--clr-green);
    border-radius: 10px;
    padding: 15px;
    overflow-y: scroll;
    box-shadow: 0 0 5px var(--clr-green);
    transition: 0.3s;
}

#third-section .container:hover {
    box-shadow: 0 0 20px var(--clr-green);
}

#third-section h3 {
    color: var(--clr-yellow)
}

/* Footer */
footer {
    text-align: center;
    margin: 30px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: 30px 0 40px;
    flex-wrap: wrap;
    gap: 40px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    display: block;
    position: relative;
    margin: 0;
    color: var(--clr-aqua);
    border: 1px solid var(--clr-aqua);
    border-radius: 50%;
    font-size: 25px;
    padding: 22px;
    box-shadow: 0 0 5px var(--clr-aqua);
}

footer .fa-brands {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer a:hover {
    color: var(--clr-black);
    background-color: var(--clr-aqua);
    box-shadow: 0 0 0 var(--clr-aqua);
}

footer .copyright {
    font-size: .7em;
}


/*Responsive for mobile*/
@media screen and (max-width:768px) {
    main {
        margin: auto;
        padding: 40px 5% 20px;
        overflow-x: hidden;
    }

    .flex-row {
        flex-direction: column;
    }

    img {
        width: 80%;
    }

    #first-section .container,
    #second-section .container {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #first-section .circle-small {
        left: -10%;
        top: 1%;
    }

    #first-section .circle-big {
        top: 10%;
        right: -30%;
    }

    #first-section img {
        align-self: center;
        margin-top: 40px;
    }

    #first-section .circle-medium {
        bottom: 35%;
        left: -20%;
    }

    #second-section img {
        align-self: center;
        margin-bottom: 40px;
    }

    #second-section .circle-small {
        top: 48%;
        left: 80%;
        box-shadow: 0 5px 15px var(--clr-yellow), -5px 0 10px rgba(255, 255, 0, 0.2);
        background-image: linear-gradient(135deg, var(--clr-yellow), var(--clr-black));
    }

    #second-section .circle-big {
        top: 53%;
        left: -30%;
        box-shadow: 0 5px 15px var(--clr-yellow), -5px 0 10px rgba(255, 255, 0, 0.2);
        background-image: linear-gradient(225deg, var(--clr-yellow), var(--clr-black));
    }

    #second-section .circle-medium {
        bottom: -5%;
        right: -15%;
    }

    #third-section .container {
        width: calc(100% - 26px);
        height: min-content;
        padding: 10px;
    }

    #third-section .left-side {
        margin-top: 40px;
    }

    footer {
        margin: 0;
    }

    .hide {
        display: none;
    }

    .block {
        display: block;
    }
}